<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="unit test">
            <directory>./test/unit</directory>
        </testsuite>
        <testsuite name="integration test">
            <directory>./test/integration</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <!-- Integration Test Variables -->
        <env name="kC_API_USERNAME" value="apirest-client" />
        <env name="kC_API_PASSWORD" value="secret" />
        <env name="kC_API_GTYPE" value="password" />
        <env name="kC_API_CLIENT_ID" value="api-client_id" />
        <env name="kC_API_CLIENT_SECRET" value="mysecret" />
        
        <env name="kC_API_ENDPOINT" value="http://localhost:8080/auth/realms/testrealm/protocol/openid-connect/token" />
    </php>
</phpunit>