<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="unit test">
            <directory>./test/unit</directory>
        </testsuite>
        <testsuite name="integration test">
            <directory>./test/integration</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <!-- Integration Test Variables -->
        <env name="kC_API_USERNAME" value="rest" />
        <env name="kC_API_PASSWORD" value="123123123" />
        <env name="kC_API_GTYPE" value="password" />
        <env name="kC_API_CLIENT_ID" value="rest-client" />
        <env name="kC_API_CLIENT_SECRET" value="926e6aa9-27b1-426f-a8a6-dd18e1d686da" />
        
        <env name="kC_API_BASEURL" value="http://192.168.10.78:6030" />
        <env name="kC_API_REALM" value="demo" />
    </php>
</phpunit>